* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

nav {
  height: 80px;
  background-color: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.nav-items {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

.nav-toggle {
  display: none;
}

.hamburger {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.hero {
  background: #000;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 95vh;
  padding: 120px calc((100vw - 1300px) / 2) 6rem;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.qr-code {
  display: block;
  margin: 2rem 0 0;
  max-width: 350px;
  height: auto;
}

.qr-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.download-button {
  margin-top: 1rem;
  text-align: center;
}

.app-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.app-link:hover {
  background-color: #666;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: #fff;
}

.preview {
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
}

.column-right video {
  width: 100%;
  height: auto;
  max-height: 60vh;
}

.features {
  width: 100%;
  max-width: 500px;
  text-align: left;
  margin-top: 2rem;
}

.features h2 {
  margin-bottom: 1rem;
}

.features ul {
  list-style-position: inside;
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-image {
  width: 100%;
  height: 100%;
  border: none;
}

.team {
  background: #000;
  color: #fff;
}

.team h2 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.team h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
}

.team-image {
  max-width: 200px;
  height: auto;
}

.partners {
  background: #000;
  color: #fff;
  padding: 2rem calc((100vw - 1300px) / 2);
  text-align: center;
  margin-top: 3rem;
}

.partners h2 {
  margin-bottom: 3rem;
  margin-top: 1.2rem;
}

.partners h4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.partner-image {
  max-width: 250px;
  height: auto;
  transition: transform 0.3s;
}

.partner-image:hover {
  transform: scale(1.1);
}

.privacy-policy, .contact-us {
  background: #000;
  color: #fff;
  padding: 2rem calc((100vw - 1300px) / 2);
  margin: 0 auto 2rem;
  margin-top: 2rem;
}

.privacy-policy h2, .privacy-policy h3, .privacy-policy h4, .contact-us h2 {
  margin-bottom: 1.5rem;
}

.privacy-policy p, .contact-us p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  /* Navigation */
  nav {
    height: 80px;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .nav-toggle:checked ~ nav {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .logo {
    font-size: 1.2rem;
  }
  .logo img {
    max-height: 40px;
    border-radius: 8px;
  }
  .hamburger {
    display: block;
  }
  .nav-items {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #808080;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }
  .nav-toggle:checked ~ .nav-items {
    display: flex;
  }
  .nav-items a {
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #000;
  }
  .nav-toggle:checked + .hamburger .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .nav-toggle:checked + .hamburger .line:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle:checked + .hamburger .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .download-button {
    margin-top: 1.5rem;
  }
  .app-link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    padding: 100px 1rem 2rem;
  }
  .column-left {
    padding: 0 1rem;
  }
  .column-left h1 {
    font-size: 2rem;
  }
  .column-left p {
    font-size: 1rem;
    width: 100%;
  }
  .qr-code {
    max-width: 250px;
  }
  .column-right {
    padding: 2rem 1rem;
  }
  .features ul {
    font-size: 1rem;
    width: 100%;
  }
  .partners,
  .privacy-policy,
  .contact-us {
    padding: 2rem 1rem;
  }
}
